body{
    font-family: arial;
    background-color: #f2f2f2;
}

h1{
    text-align: center;
    margin-top: 1rem;
}

.accordion{
    max-width: 600px;
    margin: 0 auto;
}

.accordion-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    overflow: hidden;
}

.accordion-header{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;;
}

.accordion-content {
    padding: 0 .6rem;
    font-size: 0.9rem;
    line-height: 1.5;
}

.accordion-item--active .accordion-header {
    background-color: #ddd;
}

.accordion-item--active .accordion-content {
    transition: .5s;
    max-height: 1000px;
}

.accordion-item--closed .accordion-content {
    max-height: 0;
    overflow: hidden;
}

.accordion-content{
    transition: 0.3s;
}