body{
    font-family: arial;
    background-color: #f5f5f5;
}

.container{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#difficulty-section, #game-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#guess-section{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color:#333
}

label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

select, input {
    font-size: 1rem;
    padding: .8rem;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
    color:#333;
    margin-bottom: 1.5rem;
}

p {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

input{
    margin:0 1rem;
    padding: 0.6rem;
}

button{
    font-size: 1rem;
    padding: 1rem 1.5rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: .4s;
}

button:hover {
    background-color: #555;
}

#result {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    color: #b30ce6;
}

#game-section, #reset-btn{
    display: none;
}

.note{
    color: red;
    text-align: center;
}

#reset-btn {
    margin: 0 auto;
}